@charset "UTF-8";
body{
	font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "width" 100;
	margin-left: 50px;
	margin-right: 50px;
		font-size: 2em;
	background-color: #908484;
}
h1 {
	color: #3A5933;
	font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "width" 100;
	margin-bottom: 20px;
	margin-top: 50px;
	background-color: #AC9494;
	font-size: 60px;
	border-radius: 60px;
	text-align: center;
}
h2 {
	color: #4C7441;
	margin-bottom: 20px;
	text-align: inherit;
}
h3 {
	margin-bottom: 20px;
	color: #002E07;
	text-align: center;
}
header{
	background-color: #B1A6A6;
	background-image: url(images/AdobeStock_476151561.png);
	padding: 5%;
	background-repeat: no-repeat;
}
address{
	margin: 50px;
	text-align: center;
}
p{
	margin-bottom: 20px;
	color: #002E07;
}

a:link{
color: #527794
}
a:visited{
color: #0C4F7D;
}
a{
	color: #60A6DD;
  font-weight: bold;
	text-decoration: none;
}
a:hover{
	color: #D5DFD8;
}

.button {
	background-color: #645555;
	text-decoration: none;
	font-size: 1.2em;
	margin-bottom: 5%;
	padding: 20px 30px;
	display: inline-block;
	text-align: center;
	border-radius: 50px;
}


.button:hover {
	background-color: #715E5E;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;

}
.leftimage{
	float: left;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-top: 50px
}
.rightimage{
	float: right;
	padding-left: 50px;
	padding-bottom: 50px;
	padding-top: 50px
}
img{
	display: block;
	margin: auto;
	}

footer {
	background-color: #715E5E;
	text-align: center;
	bottom: 0;
	width: 100%;
	left: 0;
	color: #C1B8B8;
	padding: 30px;
}

q {
	color: #527794;
	font-size: 1.5em;
	letter-spacing: 3px;
	padding: 5px;
	font-weight: 350;
	background-color: #8A7D7D;
	border-radius: 60px;
	text-align: center;
}

section{
	padding: 55px;
}

header{
	background-color: #8F7878;
	border-radius: 60px;
}
figcaption{
	text-align: center;
	font-style: italic;
	font-size: 22px;
}
video{
	display: block;
	margin: 0 auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #5E4E4E;
  display: flex;
	font: "Roboto";
}
ul li a {
  display: block;
  color: #2F536F;
  padding: 14px 16px;
  text-decoration: inherit;
	word-spacing: 0
}
ul li a:hover {
  background-color: #A89696;
}
nav{
	position: fixed;
	margin: 0;
	top: 0;
	width: 100%;
}
video{
	align: center;
}
b{
	color: #527794;
}