@charset "UTF-8";
body{
	font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "width" 100;
	margin-left: 50px;
	margin-right: 50px;
		font-size: 2em;
	color: #131C24;
	background: #ABA2A2;
}
h1 {
	color: #42653A;
	font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "width" 100;
	margin-bottom: 20px;
	background-color: #AC9494;
	font-size: 60px;
	text-align: center;
}
h2 {
	color: #619453;
	margin-bottom: 20px;
}
h3 {
	margin-bottom: 20px;
	text-align: center;
}
address{
	margin: 50px;
	text-align: center;
}
header{
	background-color: #B1A6A6;
	background-image: url(images/AdobeStock_476151561.png);
	padding: 5%;
	background-repeat: no-repeat;
}
p{
	margin-bottom: 20px;
	padding: 10px;
}

a:link{
color: #527794
}
a:visited{
color: #0C4F7D;
}
a{
	color: #60A6DD;
  font-weight: bold;
	text-decoration: none;
}
a:hover{
	color: #D5DFD8;
}

.button {
	background-color: #AC9494;
	text-decoration: none;
	font-size: 1.2em;
	margin-bottom: 5%;
	padding: 20px 30px;
	display: inline-block;
	text-align: center;
}


.button:hover {
	background-color: #715E5E;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;

}
.leftimage{
	float: left;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-top: 50px
}
.rightimage{
	float: right;
	padding-left: 50px;
	padding-bottom: 50px;
	padding-top: 50px
}
img{
	display: block;
	margin: auto;
	}

footer {
	background-color: #715E5E;
	text-align: center;
	bottom: 0;
	width: 100%;
	left: 0;
	color: #C1B8B8;
	padding: 30px;
}

q {
	color: #527794;
	font-size: 1.5em;
	letter-spacing: 3px;
	padding: 5px;
	font-weight: 350;
}

section{
	padding: 55px;
}
figcaption{
	text-align: center;
	font-style: italic;
	font-size: 22px;
}
video{
	display: block;
	margin: 0 auto;
}


.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
.visited{
	color: #A2B9CB;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #5E4E4E;
  display: flex;
	font: "Roboto";
}
ul li a {
  display: block;
  color: #2F536F;
  padding: 14px 16px;
  text-decoration: inherit;
	word-spacing: 0
}
ul li a:hover {
  background-color: #A89696;
}
nav{
	position: fixed;
	margin: 0;
	top: 0;
	width: 100%;
}
video{
	align: center;
}
b{
	color: #527794;
}
.visited{
	color: #A2B9CB;
}
video{
	align: center;
}
b{
	color: #527794;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 44%;
	float: left;
	margin-right: 5%;
	margin-bottom: 3%;
	margin-top: 3%;
	
}
.card:hover {
  box-shadow: 8px 16px 16px 8px rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
	background-color: #4E4141
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 16px 16px;
  float: left;
  width: 29.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.about{
	padding-top: 2%;
	padding-bottom: 0%;
	padding-right: 0%;
	padding-left: 0%;
	background-color: #A39494;
}